.container-fluid {
  background-position-x: center;
  background-position-y: center;
  background-size: initial;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(0, 43, 51);
  background-size: cover; 
  padding-top: 12rem;
  padding-bottom: 12rem;
  color: white;
  position: relative;
  background: url(../bg.jpg) no-repeat center;
}

.h4 {
  margin-bottom: 3px;
  font-family: Impact;
  color: #fa0000;
  letter-spacing: .5rem;
}

.h1 {
  margin-bottom: 10px;
  font-family: Impact;
  color: #f10404;
  letter-spacing: 1px;
}

.elementP {
  margin-bottom: 55px;
  font-family: Impact;
  color: #f10404;
  letter-spacing: .3rem;
  font-size: 28px;
}

.h2 {
  color: rgb(105, 105, 105);
  padding: 110px;
  font-size: 45px;
  letter-spacing: 1px;
  font-family: fantasy;
}

#tagP {
  padding: 170px;
  font-family: fantasy;
  font-size: 24px;
}

.btn {
  background-color: white;
  border-radius: 4px;
  padding: 20px 50px;
  text-transform: uppercase;
  margin-left: 550px;
  margin-top: 120px;
}

a {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
  padding: 0 10px;
  color: #191c03;
}

.btn a:hover {
  opacity: 1;
}
