#Fonte-diferente {
  font-family: fantasy;
}

body {
  background-color: royalblue
}

strong {
  text-decoration: underline;
}

.list-style {
  font-size: 20px
}

.button {
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 25px;
  background-color: #0fa36b;
  line-height: 1;

}